{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container pt-3">
    <div class="page-header">
    <h1>Posts</h1>
    <a href = "{% url 'add_blog' %}">add blog</a><br>
</div>
<ul>
    {% for post in object_list %}
    <li><a href = "{% url 'blog_detail' post.pk %}">{{ post.title }}</a><br>
    {{ post.intro }}<br>
    {{ post.body }}<br>
    {{ post.date_added }}
    <a href = "{% url 'update_blog' post.pk %}">Update</a><br></li><br><br>
    <a href = "{% url 'delete_blog' post.pk %}">Delete</a><br></li>
</ul>
</div>
    

	{% endfor %}
                


	
{% endblock %}